name: tagpr
on:
  push:
    branches:
    - "main"
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write
  issues: read
jobs:
  tagpr:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - name: Generate token
      id: generate_token
      uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
      with:
        app-id: ${{ secrets.APP_ID }}
        private-key: ${{ secrets.PRIVATE_KEY }}
        permission-contents: write
        permission-pull-requests: write
        permission-issues: read
    - name: checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
        token: ${{ steps.generate_token.outputs.token }}
    - name: setup go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: go.mod
    - name: tagpr
      run: |
        make install
        echo '::echo::on'
        tagpr
      env:
        GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
